body {
    background-color: hsl(34, 67%, 86%);
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
.nav{
    /*border:1px solid #ccc;
    border-width:1px 0; */
    margin: -40px;
    margin-top: -55px;
    list-style:none;
    text-align:center;
    background-color: antiquewhite;
    top: 0; 
    width: 100%;
    /*display: flex; */
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:35px;
    font-size: 20px;
    color: rgb(60, 77, 31);
    text-decoration: none;
}

.navlink {
    color: gray;
    text-decoration: none;
}

.navlink:hover { 
    background-color: rgb(60, 77, 31);
    color: antiquewhite;
}

#navbar_logo { 
    width: 200px;
    height: 160px;
    margin-top: -20px;
    margin-bottom: -70px;
}

#indeximg { 
    margin-top: 15px;
}
@media only screen and (max-width: 1026px) and (min-width: 961px){
    .nav a{
        padding-left: 28px;
        padding-right: 28px;
        }
}

@media only screen and (max-width: 960px){
    #navmenu {
        display: none;
    }
    #menu {
        margin-left: 20px;
        padding-bottom: 574px;
    }
    #tilbud {
        padding-bottom: 574px;
    }
    .footer {
        flex-direction: column;
        padding-left: 25%;
        height: auto;
        justify-content: center;
        max-width: 100vw;
    }
    .footer div {
        padding-bottom: 15px;
        padding-top: 15px;
        min-width: 65vw;
        line-height: 1.5;
    }
    #utviklere {
        text-align: left;
        width: 25%;
        line-height: 1;
    }
    .nav li{
        display: block;
    }
    .nav a{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 60%;
    }
}

@media only screen and (min-width: 960px){
    #utviklere{
        position: absolute;
        text-align: center;
        bottom: 20px;
    }
    .footer {
        height: 275px;
        padding-top: 20px;
        justify-content: space-evenly;
        width: 100%;
    }
    #menu {
        margin-left: 250px;
        padding-bottom: 315px;
    }
    #tilbud {
        padding-bottom: 315px;
    }
}

.footer{
    position:absolute;
    color: white;
    display: flex;
    bottom: 0;
    background-color: #4e765c;
}

#aapningstider, #kontaktinformasjon {
    overflow: hidden;
}

#menuimg {
    margin-left: 45%;
}

#menu {
    width: 75%;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.menusection {
    border-bottom: dashed;
    font-size: 24px;
}
.menuitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: pre-wrap
}

#drikker .menuitem {
    margin-bottom: 23px;
}
.menufirstdiv {
    display: inline-flex;
    width: auto;
}
.menuprice {
    color: #6da07f;
    font-weight: bold;
    margin: 0;
}
.menuelement {
    margin: 0;
}

.menuinnerdiv {
    font-size: 30px;
    font-weight: bold;
    color: #6da07f;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.quantbutton {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #6da07f;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    padding: 0;
}
.quant {
    margin: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px
}
.quantbutton:hover {
    color: white;
}
.menudescription {
    position: relative;
    top: -10px;
    margin: 0px;
    font-size: 16px;
    text-transform: lowercase;
}
.menuheader {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    line-height: 35px;
}

#navmenu {
    position: fixed;
    top: 110px;
    left: 20px;
    font-size: 30px;
}

#navmenu a {
    color: #6da07f;
    text-decoration: none;
}

#navmenu a:hover {
    color: white;
}
.introtekst {
    text-transform: none;
}

.punkt{
    width: auto;
    height: 33px;
    float: left;
}

.menubutton{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    background-color: transparent;
}

.menubutton:hover {
    background-color: antiquewhite;
}

.menubutton:active { 
    background-color: #6da07f;
    color: white;
    transform: translateY(4px);
}
.page-container{
    position: relative;
    min-height: 100vh;
    margin-top: 50px;
}