body {
    background-color: rgb(216, 190, 156);
    font-family: 'Nunito', sans-serif;
}

#menuimg {
    margin-left: 45%;
}

#menu {
    margin-left: 250px;
    width: 75%;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.menusection {
    border-bottom: dashed;
    font-size: 24px;
}
.menuitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: pre-wrap
}

#drikker .menuitem {
    margin-bottom: 23px;
}
.menufirstdiv {
    display: inline-flex;
    width: auto;
}
.menuprice {
    color: green;
    font-weight: bold;
    margin: 0;
}
.menuelement {
    margin: 0;
}

.menuinnerdiv {
    font-size: 30px;
    font-weight: bold;
    color: green;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.quantbutton {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: green;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    padding: 0;
}
.quant {
    margin: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px
}
.quantbutton:hover {
    color: white;
}
.menudescription {
    position: relative;
    top: -10px;
    margin: 0px;
    font-size: 16px;
    text-transform: lowercase;
}
.menuheader {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    line-height: 35px;
}

#navmenu {
    position: fixed;
    top: 204px;
    left: 20px;
    font-size: 30px;
}

a {
    color: gray;
    text-decoration: none;
}

.punkt{
    width: auto;
    height: 33px;
    float: left;
}

.menubutton{
    width: 100px;
    height: 50px;
    color:rgb(60, 77, 31);
    font-size: 20px;
    border-radius: 4px;
    background-color: transparent;
    float: right;
}

.menubutton:hover {
    background-color: antiquewhite;
}

.menubutton:active { 
    background-color: rgb(60, 77, 31);
    color: white;
    transform: translateY(4px);
}

@media only screen and (max-width: 960px){
    #navmenu {
        display: none;
    }
    #menu {
        margin-left: 20px;
    }
}