body {
    
    background-color: rgb(248, 239, 227);
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
.nav{
    margin: -40px;
    margin-top: -55px;
    list-style:none;
    text-align:center;
    background-color: rgb(235, 216, 199); 
    top: 0; 
    width: 100%;
    margin-bottom: 20px; 
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.39);
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:35px;
    font-size: 20px;
    color: #467257;
    text-decoration: none;
}

.navlink {
    color: gray;
    text-decoration: none;
}

.navlink:hover { 
    background-color: rgb(252, 245, 236);
    color: #467257;
}

#navbar_logo { 
    width: 200px;
    height: 160px;
    margin-top: -20px;
    margin-bottom: -70px;
}

#indeximg { 
    margin-top: 15px;
}
.navforside{
    margin-top: 0px;
    margin-bottom: -15px;
    margin-left: -40px;
    margin-right: -40px;
    list-style:none;
    text-align:center;
    background-color: #467257;
    top: 50vh;
    width: 100%;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.397);
}

.navforside li{
    display:inline;
}

.navforside a{
    display:inline-block;
    padding:40px;
    font-size: 20px;
    color: rgb(60, 77, 31);
    text-decoration: none;
    color: antiquewhite;
}

.navforside a:hover { 
    background-color: rgb(252, 245, 236);
    color: rgb(60, 77, 31);
}

@media only screen and (max-width: 1026px) and (min-width: 961px){
    .nav li{
        display: block;
    }
    .nav a{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 60%;
    }
    .navforside a{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    #text {
        min-height: 60vh;
    }
}

@media only screen and (max-width: 960px){
    #navmenu {
        display: none;
    }
    #menu {
        margin-left: 20px;
        padding-bottom: 574px;
    }
    #tilbud {
        padding-bottom: 574px;
    }
    #logo {
        padding-bottom: 574px;
        min-height: calc(50vh - 103px);
    }
    #siste-arrangement {
        margin: 0;
        padding-bottom: 574px;
    }
    #feedbackdiv {
        padding-bottom: 574px;
        min-height: calc(50vh - 103px);
    }
    #returndiv {
        padding-bottom: 574px;
        min-height: calc(50vh - 103px);
    }
    .footer {
        flex-direction: column;
        padding-left: 25%;
        height: auto;
        justify-content: center;
        max-width: 100vw;
    }
    .footer div {
        padding-bottom: 15px;
        padding-top: 15px;
        min-width: 65vw;
        line-height: 1.5;
    }
    #utviklere {
        text-align: left;
        width: 25%;
        line-height: 1;
    }
    .nav li{
        display: block;
    }
    .nav a{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 60%;
    }
    .navforside a{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    #container {
        padding-bottom: 574px;
    }
    #cofee {
        right: 0vw;
        width: 70vw;
        min-height: calc(60vh + 56px);
    }
    #textbox {
        left: 0vw;
        width: 70vw;
        max-height: 50vh;
    }
    #text {
        overflow-y: scroll;
        height: 60vh;
    }
}

@media only screen and (min-width: 960px){
    #utviklere{
        position: absolute;
        text-align: center;
        bottom: 20px;
    }
    .footer {
        height: 275px;
        padding-top: 20px;
        justify-content: space-evenly;
        width: 100%;
    }
    #menu {
        margin-left: 250px;
        padding-bottom: 315px;
    }
    #tilbud {
        padding-bottom: 315px;
        min-height: calc(100vh - 170px);
    }
    #logo {
        padding-bottom: 315px;
        min-height: calc(50vh - 103px);
    }
    #siste-arrangement {
        padding-bottom: 315px;
        margin: 0;
    }
    #cofee {
        right: 10vw;
    }
    #textbox {
        left: 10vw;
    }
    #container {
        padding-bottom: 325px;
    }
    #feedbackdiv {
        padding-bottom: 315px;
        min-height: calc(100vh - 170px);
    }
    #returndiv {
        padding-bottom: 315px;
        min-height: calc(100vh - 170px);
    }
}

.footer{
    position:absolute;
    color: white;
    display: flex;
    bottom: 0;
    background-color:#467257;
}

#aapningstider, #kontaktinformasjon {
    overflow: hidden;
}

#menuimg {
    margin-left: 45%;
}

#menu {
    width: 75%;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.menusection {
    border-bottom: dashed;
    font-size: 24px;
}
.menuitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: pre-wrap
}

#drikker .menuitem {
    margin-bottom: 23px;
}
.menufirstdiv {
    display: inline-flex;
    width: auto;
}
.menuprice {
    color: #6da07f;
    font-weight: bold;
    margin: 0;
}
.menuelement {
    margin: 0;
}

.menuinnerdiv {
    font-size: 30px;
    font-weight: bold;
    color: #6da07f;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.quantbutton {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #6da07f;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    padding: 0;
}
.quant {
    margin: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px
}
.quantbutton:hover {
    color: white;
}
.menudescription {
    position: relative;
    top: -10px;
    margin: 0px;
    font-size: 16px;
    text-transform: lowercase;
}
.menuheader {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    line-height: 35px;
}

#navmenu {
    position: fixed;
    top: 110px;
    left: 20px;
    font-size: 30px;
}

#navmenu a {
    color: #6da07f;
    text-decoration: none;
}

#navmenu a:hover {
    color: rgb(136, 116, 90);
}
.introtekst {
    text-transform: none;
}

.punkt{
    width: auto;
    height: 33px;
    float: left;
}

.menubutton{
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    background-color: antiquewhite;
}

.menubutton:hover {
    background-color: #6da07f;
}

.menubutton:active { 
    background-color: #52775f;
    color: white;
    transform: translateY(4px);
}
.page-container{
    position: relative;
    min-height: 100vh;
    margin-top: 40px;
}
.slideshow-container {
    height: 55vh;
}

.slide {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.slideshow {
    position: relative;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    border: solid 2px;
}

.dot:hover {
    background-color: #717171 !important;
}

#dot-container {
    text-align: center;
    height: 15px;
    display: flex;
    justify-content: space-between;
    width: 120px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#tilbud {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    height: auto;
    color: black;
    border-image: solid;
}
#tilbud_en {
    display: flex;
    justify-content: start;
    height: auto;
    margin-bottom: 20px;
}
#tilbud_to {
    display: flex;
    justify-content: end;
    height: auto;
}
.textdiv {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 320px;
}
.textdiv p {
    margin: 0;
    align-self: flex-start;
    text-transform: uppercase;
}
.italics {
    text-transform: none;
}
.kampheader {
    color: #467257;
    text-align: center;
}
#arrh1 { 
    text-align: center;
    font-size: 50px;
    padding-left: 50px;
}
.container {
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
    line-height: 1.4;
    margin-top: 10px;
  }
.arrimg {
    min-width: 500px;
    height: 380px;
  }

.text {
    height: 321px;
    font-size: 20px;
    padding-left: 20px;
    max-height: 321px;
    align-self: flex-start;
    overflow: auto;
}
.toptext { 
    font-size: 30px;
    color: #467257;
    font-weight: bold;
    margin: 0;
}
#hiddenText1, #hiddenText2, #hiddenText3 { 
    display: none;
}
#lesmer1btn, #lesmer2btn, #lesmer3btn {
    position: absolute;
    bottom: 5px;
    left: 520px;
}
#container{
    height: calc(100vh - 90px);
    position: relative;
    margin: 0;
}
#omoss{
    color: #467257;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#textbox{
    position: absolute;
    z-index: 2;
}
#text {
    font-size: 20px;
    color: black;
    width: 50vw;
    background-color: rgb(252, 245, 236);
    line-height: 1.5;
    margin: 0;
    padding: 5px;
    opacity: 95%;
}
#cofee{
    position: absolute;
    max-width: 60vw;
    height: auto;
    max-height: calc(100vh - 90px);
}
.submitbutton{
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    background-color: antiquewhite;
}

.submitbutton:hover {
    background-color: #6da07f;
}

.submitbutton:active { 
    background-color: #52775f;
    color: white;
    transform: translateY(4px);
}
#returndiv {
    padding-top: 20px;
    padding-left: 10vw;
    color: "black";
    font-size: 30px;
}
#feedback{
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    background-color: antiquewhite;
}

#feedback:hover {
    background-color: #6da07f;
}

#feedback:active { 
    background-color: #52775f;
    color: white;
    transform: translateY(4px);
}
#feedbackarea {
    background-color: white;
    /*max-width: 50vh;
    max-height: 30vh; */
    
}

#tilbakemelding{
    display: block;
    margin-left: auto;
    margin-bottom: -50px;
}
#feedbackdiv {
    padding-top: 20px;
    padding-left: 10vw;
    line-height: 1.5;
    color: rgb(248, 248, 248);
}
#name, #email, #feedbackarea {
    width: 50vh;
}

#box { 
    background-color: #467257;
    padding: 10px;
    width: 600px;
    
}

#feedback_picture { 
    height: 600px;
    width: 400px; 
    float: right;
    position: relative;
    z-index: 100;
    margin-top: -400px;
    padding-right: 350px;
    opacity: 95%;
}

#tid{
    text-align: center;
    color: #467257;
    font-size: 40px;
}


#canvasdiv {
    margin: auto;
    position: relative;
    width: 700px;
    height: 600px;
    background-color:rgb(248, 239, 227);
    padding-bottom: 50px;

  }
  #btndiv {
    padding-top: 20px;
    position: absolute;
    top: 0;
  }
  #daydiv {
    padding-top: 30px;
    position: absolute;
    margin: 0;
    top: 50px;
    left: 50px;
    width: 500px;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .daybtn {
    width: 90px;
    height: 35px;
    margin-left: 5px;
    background-color: antiquewhite;
  }
  .daybtn:hover {
    background-color:#6da07f  !important;
  }

  #tidunder { 
      text-align: center;
      color: #467257;
      font-size: 20px;
  }
